<!DOCTYPE html>
<html lang="da">
<head>
<meta charset="UTF-8">
<title>Living Large</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">"
   {% include 'partials/navbar.html' %}
   {% include 'partials/hero.html' %}
   {% include 'partials/ai_search.html' %}
   {% include 'partials/results_section.html' %}
   {% include 'partials/footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
